body {
  max-width: 1920px;
  position: relative;
}

.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px 0 32px;
  border-top: 1px solid #e4e4e4;
}
@media screen and (min-width: 576px) {
  .footer {
    padding-top: 48px;
  }
}
.footer__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}
@media screen and (min-width: 576px) {
  .footer__container {
    padding: 0 28px;
  }
}
.footer__header {
  width: 100%;
  margin-bottom: 24px;
}
@media screen and (min-width: 576px) {
  .footer__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
}
.footer__logotype {
  text-decoration: none;
  outline: none;
}
.footer__logo-big {
  display: none;
}
@media screen and (min-width: 576px) {
  .footer__logo-big {
    display: block;
  }
}
.footer__logo-small {
  display: block;
  margin-bottom: 32px;
}
@media screen and (min-width: 576px) {
  .footer__logo-small {
    display: none;
  }
}
.footer__logos-items {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .footer__logos-items {
    margin-right: 24px;
  }
}
.footer__phone {
  width: 100%;
  margin-bottom: 24px;
}
.footer__phone-number {
  font-size: 18px;
  color: #28323c;
}
.footer__menu {
  width: 100%;
  display: block;
}
@media screen and (min-width: 1160px) {
  .footer__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.footer__nav {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1160px) {
  .footer__nav {
    width: 75%;
    margin-bottom: 0;
  }
}
.footer__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding-left: 0px;
  padding-right: 0px;
}
@media screen and (min-width: 768px) {
  .footer__column {
    width: calc(33.33% - 16px);
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer__column:first-of-type {
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .footer__column:last-of-type {
    padding-right: 0px;
  }
}
@media screen and (min-width: 1160px) {
  .footer__column:last-of-type {
    padding-right: 12px;
  }
}
@media screen and (min-width: 1160px) {
  .footer__column {
    width: calc(33.33% - 20px);
    margin-bottom: 0;
  }
}
.footer__link {
  display: block;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 0;
  color: #78828c;
}
.footer__link:hover {
  color: #28323c;
}
.footer__link:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer__link {
    margin-bottom: 16px;
    font-size: 16px;
  }
}
.footer__copyright-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (min-width: 1160px) {
  .footer__copyright-wrapper {
    width: 25%;
  }
}
.footer__copyright {
  margin-top: 0px;
  width: 100%;
  display: block;
  text-align: left;
}
@media screen and (min-width: 1160px) {
  .footer__copyright {
    text-align: right;
    margin-top: 48px;
    width: calc(100% - 24px);
  }
}
.footer__copyright-link {
  text-decoration: none;
  display: block;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 16px;
  color: #78828c;
}
.footer__copyright-link:hover {
  color: #28323c;
}
.footer__copyright-npf {
  color: #78828c;
  font-size: 11px;
  margin-right: 0;
}
.footer__copyright-license {
  color: #78828c;
  font-size: 11px;
}
