body * {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #5a646e;
  // плавная прокрутка
  scroll-behavior: smooth;
}

// top-block
.top-block {
  width: 100%;
  height: 360px;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;

  @media screen and (min-width: 576px) {
    height: 552px;
    padding: 48px 28px;
  }

  @media screen and (min-width: 1024px) {
    padding-right: 0;
    padding-left: 0;
  }

  &__container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  &__heading {
    font-size: 26px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      font-size: 55px;
      line-height: 73.54px;
      margin-bottom: 22px;
    }
  }

  //
} // top-block

// questions-answers
.questions-answers {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  border-color: #ffffff;
  padding: 24px;

  @media screen and (min-width: 576px) {
    padding: 48px 28px 48px;
  }

  @media screen and (min-width: 768px) {
    padding: 48px 28px 48px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: 1160px) {
    padding-top: 72px;
  }

  &__heading {
    font-size: 34px;
    line-height: 48px;
    color: #363636;
    margin-bottom: 24px;
  }

  &__table-block {
    overflow-x: hidden;
    position: relative;
  }

  &__table-container {
    overflow-x: auto;

    @media screen and (min-width: 1024px) {
      overflow-x: hidden;
    }
  }

  &__table-common {
    color: #001100;
    border-collapse: collapse;
    width: 100%;
    min-width: 576px;
    margin: 10px 0;
    position: relative;

    // questions-answers__table-common_gradient-left
    &_gradient-left {
      &::before {
        position: absolute;
        display: block;
        width: 24px;
        top: 0;
        bottom: 0;
        background-image: radial-gradient(
          farthest-side,
          rgba(26, 65, 101, 0.5),
          transparent
        );
        content: "";
        right: auto;
        left: -12px;
      }
    }

    // questions-answers__table-common_gradient-right
    &_gradient-right {
      &::after {
        position: absolute;
        display: block;
        width: 24px;
        top: 0;
        bottom: 0;
        background-image: radial-gradient(
          farthest-side,
          rgba(49, 103, 155, 0.5),
          transparent
        );
        content: "";
        right: -12px;
        left: auto;
        box-sizing: inherit;
      }
    }
  }

  &__table-row {
    width: 100%;
    font-size: 13px;
    line-height: 24px;
    color: #001100;
    border-top: 1px solid #e6f0fa;
    vertical-align: baseline;
  }

  &__table-cell {
    padding: 0 8px;

    &:first-of-type {
      width: 43.16%;
      padding-left: 0;
    }

    &:nth-of-type(2) {
      width: 27.1%;
    }

    &:last-of-type {
      width: 29.74%;
      padding-right: 0;
    }
  }

  &__cell-heading {
    font-size: 13px;
    color: #001100;
    line-height: 1.5rem;
    margin: 12px 0;
    font-weight: 700;
  }

  &__cell-text {
    font-size: 16px;
    color: #001100;
    line-height: 1.5rem;
    margin: 12px 0;
    font-weight: 500;
  }
  //
} // questions-answers

// pension-programs
.pension-programs {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  border-color: #ffffff;
  padding: 24px;

  @media screen and (min-width: 576px) {
    padding: 48px 28px;
  }

  @media screen and (min-width: 768px) {
    padding: 48px 28px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: 1160px) {
    padding-top: 72px;
  }

  &__heading {
    font-size: 34px;
    line-height: 48px;
    color: #363636;
    margin-bottom: 24px;
  }
} // pension-programs

// expanding
.expanding {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #e6f0fa;
  position: relative;

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 32px;
    position: relative;
    //
    transition: padding 0.3s;
    transition-property: padding;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  &__title {
    vertical-align: baseline;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #50287d;

    &:hover {
      color: #000;
    }
  }

  &__button {
    width: 18px;
    height: 18px;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 12px;
    flex: none;
  }

  &__plus {
    cursor: pointer;
    opacity: 1;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    // expanding__plus_show-hiding-block
    &_show-hiding-block {
      opacity: 0;
      transform: rotate(180deg);
      transition: all 500ms;
    }

    // expanding__plus_hide-hiding-block
    &_hide-hiding-block {
      opacity: 1;
      transform: rotate(0deg);
      transition: all 500ms;
    }
  }

  &__minus {
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;

    // expanding__minus_show-hiding-block
    &_show-hiding-block {
      transform: rotate(180deg);
      transition: all 500ms;
    }

    // expanding__minus_hide-hiding-block
    &_hide-hiding-block {
      transform: rotate(0deg);
      transition: all 500ms;
    }
  }

  &__hiding-block {
    width: 100%;
    padding: 24px 0 48px;

    // expanding__hiding-block_hidden
    &_hidden {
      display: none;
    }

    // expanding__hiding-block_visible
    &_visible {
      display: block;
    }
  }

  // expanding__paragraph
  &__paragraph {
    margin: 12px 0;
    color: #5a646e;
    font-weight: 400;
    vertical-align: baseline;
    box-sizing: border-box;

    // expanding__paragraph_before
    &_before {
      position: relative;
      margin-left: 32px;

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #50287d;
        left: -24px;
        top: 8px;
      }
    }
  }

  &__link {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
} //expanding

// support-form
.support-form {
  width: 100%;
  background: #f3f5f7;
  padding: 48px 24px;

  @media screen and (min-width: 576px) {
    padding: 72px 28px;
  }

  &__container {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1160px) {
      flex-wrap: nowrap;
    }
  }

  &__customer-service {
    width: 100%;

    @media screen and (min-width: 1160px) {
      max-width: 360px;
    }
  }

  &__header {
    font-size: 34px;
    line-height: 48px;
    font-weight: 500;
    color: black;
    margin-bottom: 24px;

    @media screen and (min-width: 576px) {
      margin-bottom: 48px;
    }
  }

  &__span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    display: inline;

    @media screen and (min-width: 1160px) {
      display: block;
    }
  }

  &__phone-support {
    font-size: 34px;
    line-height: 48px;
    font-weight: 500;
    color: #00e;
    display: block;
    outline: none;
    text-decoration: none;
  }

  &__phone-title {
    font-size: 13px;
    line-height: 24px;
    color: #96a0aa;
    margin-bottom: 48px;
  }

  &__form {
    width: 100%;
    max-width: 460px;
    @media screen and (min-width: 1160px) {
      max-width: 460px;
      margin-left: 40px;
    }
  }
} // support-form

// // my-form
// .my-form {
//   width: 100%;

//   &__label-container {
//     width: 100%;
//   }

//   &__label {
//     width: 100%;
//     padding-bottom: 20px;
//     position: relative;
//   }

//   &__title {
//     position: absolute;
//     top: 24px;
//     left: 0px;
//     font-size: 16px;
//     color: #78828c;
//   }

//   &__field {
//     width: 100%;
//     font-size: 16px;
//     line-height: 24px;
//     padding: 24px 0 8px;
//     color: #28323c;
//     border-bottom: 1px solid #b5bdc8;
//     box-sizing: border-box;
//     cursor: pointer;

//     &:hover {
//       line-height: 23px;
//       border-bottom: 2px solid #50287d;
//     }

//     &:focus {
//       line-height: 23px;
//       border-bottom: 2px solid #50287d;
//     }
//   }

//   &__error {
//     display: block;
//     position: absolute;
//     top: 67px;
//     left: 0;
//     font-size: 12px;
//     line-height: 12px;
//     color: red;
//   }

//   &__button-container {
//     width: 184px;
//     margin-top: 24px;
//   }

//   &__button {
//     &[disabled] {
//       background-color: #d2dce6;
//     }
//   }
// } // my-form
