body * {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #5a646e;
  // плавная прокрутка
  scroll-behavior: smooth;
}

// top-block
.top-block {
  width: 100%;
  height: 360px;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;

  @media screen and (min-width: 576px) {
    height: 552px;
    padding: 48px 28px;
  }

  @media screen and (min-width: 1024px) {
    padding-right: 0;
    padding-left: 0;
  }

  &__container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  &__heading {
    font-size: 26px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      font-size: 55px;
      line-height: 73.54px;
      margin-bottom: 22px;
    }
  }

  &__subheading {
    font-size: 13px;
    color: #ffffff;
    width: 100%;
    max-width: 660px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
} // top-block

// taxation
.taxation {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  border-color: #ffffff;
  padding: 24px;

  @media screen and (min-width: 576px) {
    padding: 0px 28px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }

  &__block {
    width: 100%;
  }

  &__table-block {
    overflow-x: hidden;
    position: relative;
  }

  &__table-container {
    overflow-x: auto;

    @media screen and (min-width: 1024px) {
      overflow-x: hidden;
    }
  }

  &__table-common {
    color: #001100;
    border-collapse: collapse;
    width: 100%;
    min-width: 576px;
    margin: 10px 0;
    position: relative;

    // taxation__table-common_gradient-left
    &_gradient-left {
      &::before {
        position: absolute;
        display: block;
        width: 24px;
        top: 0;
        bottom: 0;
        background-image: radial-gradient(
          farthest-side,
          rgba(26, 65, 101, 0.5),
          transparent
        );
        content: "";
        right: auto;
        left: -12px;
      }
    }

    // taxation__table-common_gradient-right
    &_gradient-right {
      &::after {
        position: absolute;
        display: block;
        width: 24px;
        top: 0;
        bottom: 0;
        background-image: radial-gradient(
          farthest-side,
          rgba(49, 103, 155, 0.5),
          transparent
        );
        content: "";
        right: -12px;
        left: auto;
        box-sizing: inherit;
      }
    }
  }

  &__table-row {
    width: 100%;
    font-size: 13px;
    line-height: 24px;
    color: #001100;
    border-top: 1px solid #e6f0fa;
    vertical-align: baseline;
  }

  &__table-cell {
    padding: 0 8px;

    &:first-of-type {
      width: 43.16%;
      padding-left: 0;
    }

    &:nth-of-type(2) {
      width: 27.1%;
    }

    &:last-of-type {
      width: 29.74%;
      padding-right: 0;
    }
  }

  &__cell-heading {
    font-size: 13px;
    color: #001100;
    line-height: 1.5rem;
    margin: 12px 0;
    font-weight: 700;
  }

  &__cell-text {
    font-size: 16px;
    color: #001100;
    line-height: 1.5rem;
    margin: 12px 0;
    font-weight: 500;
  }

  &__paragraph {
    margin: 12px 0;
    color: #5a646e;
    font-weight: 400;
    vertical-align: baseline;
    box-sizing: border-box;

    // taxation__paragraph_before
    &_before {
      position: relative;
      margin-left: 32px;

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #50287d;
        left: -24px;
        top: 8px;
      }
    }
  }

  &__paragraph-heading {
    color: #28323c;
    font-size: 18px;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: normal;
    margin: 24px 0;
  }
} // taxation
